/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
  background-color: #545454;
  color: #f4f4f4;
  font-family: helvetica, sans-serif;
}

.instructions, .tools, h1 {
  width: 100%;
  max-width: 69rem;
  margin: auto;
}

.stencils {
  padding: 2em;
  background-color: #fff;
  color: #000;
}
.drills,
.stencil {
  border: 1mm dotted #555;
  position: relative;
}
.stencil {
  margin-bottom: 0.5cm
}

.stencil h3 {
    margin:2em;
}

.stencil h3.vertical {
  width: 0;
  word-wrap: break-word;
  margin: auto;
}

.top, .bottom {
  content: ' ';
  width: 22cm;
  height: 33cm;
}

.top {
  border-top-left-radius: 2cm;
  border-bottom-left-radius: 2cm;
  position: relative;
}
.top:after {
  content: ' ';
  display: block;
  height: 17cm;
  width: .75cm;
  right: -1mm;
  margin: 0 auto;
  position: absolute;
  bottom: 8cm;
  top:8cm;
  border: 1mm dotted #555;
  border-top-left-radius: 1cm;
  border-bottom-left-radius: 1cm;
  border-right-width:0;
}
.front-back-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.front,.back {
  content: ' ';
  width: 11cm;
}

.back {
  height: 33cm;
}

.front {
  height: 34cm;
  border-top-left-radius: 2cm;
  border-bottom-left-radius: 2cm;
}

.left,.right {
  margin:0.5cm auto;
  content: ' ';
  width: 21.5cm;
  height: 11cm;
  position: relative;
}

.left {
  border-top-left-radius: 2cm;
}

.right {
  border-top-right-radius: 2cm;
}

.left:before,
.right:before {
  content: ' ';
  display: block;
  height: 1.5cm;
  width: 0.5cm;
  margin: 0 auto;
  border: 1mm dotted #555;
  position: absolute;
  bottom: -1mm;
}

.left:before {
  left:-0.6cm;
  border-right-width: 0;
}

.right:before {
  right:-0.6cm;
  border-left-width: 0;
}

.image {
  object-fit: contain;
  margin: 1em auto;
  max-width: 100%;
}

.drills {
  border-radius: 50%;
  width: 5mm;
  height: 5mm;
}

.front .drill_1,
.front .drill_2 {
  position: absolute;
  right: 5mm
}

.front .drill_1 {
    top: 25mm
}

.front .drill_2 {
  bottom:25mm
}


.back .drill_1 {
  top: 20mm;
}

.back .drill_2 {
  bottom: 20mm;
}

.back .drill_1,
.back .drill_2 {
  position: absolute;
  left: 5mm
}

.left .drill_1,
.right .drill_1 {
  position: absolute;
  bottom: 5mm;
  left: 20mm;
}

.left .drill_2,
.right .drill_2 {
  position: absolute;
  bottom: 5mm;
  right: 20mm;
}

.block_of_wood {
  height: 8cm;
  width: 10mm;
}






/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {

    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
    h1,.instructions {
      display: none;
    }
    .stencil, .front-back-container {
      page-break-after: always;
      padding-bottom: : 0.5cm;
    }
    .stencil.left, .stencil.right {
      page-break-after:auto;
    }
}
